# General Ignores + IDE
.DS_Store
settings.xml
.editorconfig
WEB-INF
.env
.vscode/**
.code-workspace
.cache/**
.parcel-cache/**

# zips, logs + tests
*.zip
*.log

# npm
**/node_modules/*

## Ignored Dependencies
build/mssql/*.bak
**/admin/classFiles/*
**/admin/clientSites/*
data/**
dist/**
testbox/

typesense-data/**
