<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 	<system.web>
	 	<httpRuntime requestPathInvalidCharacters="" />
        <customErrors mode="Off"/>
    </system.web>
    <system.webServer>
        <security>
            <authentication>
                <windowsAuthentication enabled="true" />
                <anonymousAuthentication enabled="false" />
            </authentication>

			 <requestFiltering allowDoubleEscaping="true" />
        </security>
		 <httpProtocol>
			 <customHeaders>
			  
					   <add name="Access-Control-Allow-Origin" value="http://localhost:8080" />
						<add name="Access-Control-Allow-Methods" value="DELETE,PUT,POST,GET,OPTIONS,HEAD" />
						<add name="Access-Control-Allow-Headers" value="origin, x-requested-with, content-type" />
						<add name="Access-Control-Allow-Credentials" value="true" />
						<add name="X-Frame-Options" value="SAMEORIGIN" />
			 </customHeaders>
		</httpProtocol> 

		<rewrite>
            <rules>
				<rule name="Flash and Flex Communication" enabled="true" stopProcessing="true">
                    <match url="^(.*)$" />
					<conditions>
						<add input="{SCRIPT_NAME}" pattern="^/(.*(flex2gateway|flashservices/gateway|messagebroker|lucee|rest|cfide|CFIDE|cfformgateway|jrunscripts|cf_scripts|mapping-tag|CFFileServlet)).*$" />
					</conditions>
					<action type="Rewrite" url="index.cfm/{PATH_INFO}" appendQueryString="true" />
				</rule>
				<rule name="Static Files" enabled="true" stopProcessing="true">
                    <match url="^(.*)$" />
					<conditions>
						<add input="{SCRIPT_NAME}" pattern="\.(bmp|gif|jpe?g|png|css|js|txt|pdf|doc|xls|xml)$" />
					</conditions>
					<action type="None"/>
				</rule>
                <rule name="RewriteUserFriendlyURL1" enabled="true"  stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.cfm/{R:1}" />
                </rule>
            </rules>
        </rewrite>

    </system.webServer>
</configuration>
