/* links */

/* .redlink {
  color: var(--color-primary);
  text-decoration: none;
} */
/*  
.redlink:hover {
  opacity: .7;
}  */

/* primary button  */
.btn {
    /* margin-top: .3rem; */
    border: 2px solid transparent;
    color: var(--color-primary-button-text);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.45rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: fit-content;
  }


    /* small button */
 .btn-small {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.45rem;
  border: 2px solid transparent;
  color:  var(--color-primary-button-text);
  padding: .3rem .5rem;
  transition: background-color .2s ease-out;
  font-size: .8rem;
  font-weight: 400;
  opacity: 1;
  outline: none;
}

  
  .btn:hover,
  .btn-small:hover {
    color:var(--color-primary-button-text);
    opacity: .8;
  } 

  .btn-primary {
    color:var(--color-primary-button-text);
    background-color: var(--color-primary);
    border-color: var(--color-primary);
  
  }


  .btn-secondary {
    color:var(--color-primary-button-text);
    background-color: var(--color-secondary); 
  }


  .btn-tertiary {
    background-color: var(--color-tertiary);
    border-color: var(--color-tertiary);
    color: #333;
    font-weight: 500;
  }

  
  .btn-tertiary:hover{
    color: #333;
  }
  
  .btn-gray {
    color: var(--color-util-gray-dark);
    background-color: transparent;
    border-color:var(--color-util-gray-dark);
    font-weight: 500;
  
  }
  
  .btn-gray:hover {
       color: var(--color-util-gray-dark);
    
  } 

  .btn-hollow {
    border-color:var(--color-primary-button-text);
  }
  
  .btn-hollow:hover {
    background-color: var(--color-tertiary);
    border-color: var(--color-tertiary);
    color: var(--color-secondary);
  }
  
  
  /*  to make a more prominent button (usually on a form) */
  .btn-heavy {
    text-transform: uppercase; 
    letter-spacing: 1px;
    font-weight: 600;
    padding-left: 3rem;
    padding-right: 3rem;
  } 


  .btn svg,
  .btn-small svg {
    height: 14px;
    margin-right: 4px;
    width: 16px;
    margin-top: .2rem;
  }


  /* .btn-white {
    color: #4B5563; ;
    background-color: #ffffff;
    border-color: #ffffff;
  
  } */
  

  
  /* .btn-primary-muted {
    background-color: #b74e56; 
  }

  .btn-primary-muted:hover {
    background-color: #9a3d46;
  } */
/* 
  .btn-primary-hollow {
    color: var(--color-primary);
  }
  
  .btn-primary-hollow:hover {
    color: white;
    background-color: var(--color-primary);
  }
   */

  /* .btn-primary:hover {
    opacity: .85;
  }
   */


  
  /* .btn-rounded {
    border-radius: 9999px !important
  } */