.carousel {
	justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.carousel-animate {
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
  }


.carousel-sizer {
	max-width: 56rem;
	display: flex;
}

.carousel-prev {
	justify-content: flex-start;
	align-items: center;
	display: flex;
}

.carousel-next {
	justify-content: flex-end;
	align-items: center;
	display: flex;
}

.carousel-button {
	width: 2rem;
	color: rgba(156, 163, 175, 1.0);
	/* height: 3rem; */
	border-radius: 9999px;

}

.carousel-button:hover {
	color:#fa0114;  
}

.carousel-slide {
	width: 14rem;
    color: rgba(255, 255, 255, 1.0);
    overflow: hidden;
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 0.5rem;
    /* background-color:#f3f5f9; */
	height: 14rem;
	flex-shrink: 0;
    margin-right: 0.5rem;
    position: relative;
}
 .carousel-slider {
    overflow-x: scroll;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 75ms;
}

.carousel-slide,
.carousel-slider {
    width: 14rem;
    display: flex;
}

.carousel-slide img { 
	object-fit: cover;
}

.carousel-navbar {
	padding-left: 1rem;
	padding-right: 1rem;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-flow: wrap;
}
.carousel-pager {
    font-weight: 700;
}

/* .carousel-nav-btn {
		transition-duration: 200ms;
		transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
		transition-property: background-color, border-color, color, fill, stroke;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 150ms;
		width: 14px;
		min-width: 14px;
		max-width: 14px;
		overflow: hidden;
		margin-top: 1rem;
		margin-bottom: 0px;
		margin-left: 0.4rem;
		margin-right: 0.4rem;
		height: 14px;
		flex: 1 1 0%;
		border-radius: 10px;
		background-color: transparent;
		border: 1px solid rgba(209, 213, 219, 1.0);
} */
/* 
.carousel-nav-btn-active {
	background-color: #fa0114; 
}

.carousel-nav-btn:hover {
	opacity: .7;
 } */


/* MEDIA QUERIES */
/* @media (min-width: 768px) {

	.carousel-slide {
		width: 24rem;
		height: 24rem;
	}
} 	 */

