/* https://www.freeprivacypolicy.com/free-cookie-consent/*/

/* overwrites */
.freeprivacypolicy-com---nb-simple {
    /* right: 1.5rem !important;
    bottom: 1.5rem !important;
    left: 1.5rem !important; */
    max-width: 100% !important;
    height: auto !important;
    /* box-shadow: 0 4px 6px 0 rgb(85 85 85 / 9%), 0 1px 20px 0 rgb(0 0 0 / 8%), 0px 1px 11px 0px rgb(0 0 0 / 6%); */
}

/* .freeprivacypolicy-com---nb .cc-nb-main-container {
    padding: .5rem 2rem 1.5rem 2rem !important;
} */

.freeprivacypolicy-com---palette-light.freeprivacypolicy-com---nb {
    background-color: #e3e3e3 !important;
}

.freeprivacypolicy-com---palette-light .cc-nb-okagree,
.freeprivacypolicy-com---palette-light .cc-nb-reject,
.freeprivacypolicy-com---palette-light .cc-cp-foot-save
 {
    background-color: #b91c1c !important;
}