/* https://www.freeprivacypolicy.com/free-cookie-consent/*/

/* overwrites */
.freeprivacypolicy-com---nb-simple {
    max-width: 100% !important;
    height: auto !important;
}

.freeprivacypolicy-com---palette-light.freeprivacypolicy-com---nb {
    background-color: var(--color-util-gray-secondary) !important;
}

.freeprivacypolicy-com---palette-light .cc-nb-okagree,
.freeprivacypolicy-com---palette-light .cc-nb-reject,
.freeprivacypolicy-com---palette-light .cc-cp-foot-save
 {
    background-color: var(--color-primary) !important;
}