

.image-modal {
     background-color: rgba(0, 0, 0, .95);
    height: 98%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: fixed;
    overflow: hidden;
    z-index: 50;
    box-shadow: rgb(0 0 0 / 25%) 0px 6px 8px 2px;
    border-radius: 4px;
    width: 98%;
}	

.image-modal-main {
	padding: .5rem;
    height: 100%;
    
}
.image-modal-main img {
	object-fit: contain;
	max-height: 100%; 
	height: 100%; 
	width: 100%;
	max-width: none;
}

.image-modal-main img { 
	cursor: zoom-out;
}

.image-modal svg {
	width: 2rem;
    position: absolute;
    right: 13px;
    top: 13px;
    color: #d84029;
    /* border: 2px solid;
    border-radius: 99999px; */
    font-weight: 700;
    cursor: pointer;
}

.image-modal .zoom {
    right: 12px;
    top: 44px;
}


