article.item {
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.item aside {
    margin-bottom: 1rem;  
    /* margin-right: 1rem;  */
    flex: 0;
    width: 100%;
}

.item main {
    /* max-width: 45rem; */
    flex: 1;
}

.item .detail {
    flex-direction: column; 
	align-items: center; 
	text-align: center;
    display: flex;
    justify-content: space-between;

}
/* 
.item .specs-wrapper {
    display: flex;
    justify-content: center;
} */

.item .specs-summary {
    text-align: left;
    line-height: 1.4;
    white-space: nowrap;
    margin-top: 1.4rem;
    font-size: 14px;
  
}

.item .specs-summary p  { 
    display: flex;
    align-items: center;
    font-weight:700;
}  

.item .specs-summary a {
    color: rgba(107, 114, 128, 1.0);
}

.item .specs-summary span:first-child {
    width: 4.1rem;
    /* width: 39%; */
    /* flex: 1 0 45%; */
}

.item .specs-summary span:last-child {
    font-weight:normal;
    /* overflow: hidden;
    text-overflow: ellipsis; */
    white-space: nowrap;
    /* flex: 1 1 55%; */
    
}

.item .mfr > span:last-child {
    color: #2bbb19;
    font-weight:600;
 }
  
 .item .userprefs  {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* flex-shrink: 0; */
    font-size: 14px;
 }
 
 .item .userprefs a { 
    text-decoration: none;
    color: rgba(156, 163, 175, 1);
    display: flex;
    justify-content: center;
 }
 
 .item .userprefs div {
   padding-top: 1rem;
   display:flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   flex-shrink: 0;
 }

 .item .userprefs div:last-child {
     padding-left: 1rem;
 }
 
 .item .userprefs svg {
    width: 17px;
    height: 17px;
    margin-right: 6px; 
 }

 .item .offers {
    margin-top: 1.5rem;
    letter-spacing: 0.025em;
    font-size: 18px; 
}

.item .specs table {
    table-layout:fixed;
    width:100%;
    /* font-size: 14px; */
}

.item .specs table td {
    padding: .2rem;
    vertical-align: top;
 }


.item .specs .txtb {
    font-weight: 600;
}

.item .specs tr td.txt:first-child  {
    padding-left: .75rem;
}


/* 
.item .specs .alt {
     background-color: #f0f0f4; 
    background-color: #e8e8e8
} */

.item .specs .alt {
    background-color: #ffffff;
}


.price {
	letter-spacing: 0.05em;
	color: rgba(75, 85, 99, 1.0);
	font-weight: 600;
	color: #fa0114;
  }

.item .headline {
	font-size: 18px;
}

.item .footer {
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(229, 231, 235, 1.0);
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-top: 1.0rem;
}

/* server version */

#item {
    max-width: 1440px;
    margin: auto;

}

#item article.item {
   padding-top: 25px ;
}

#item .item .headline {
    font-size: 26px;
}


#item .item .category {
    margin-top: 14px;
    margin-bottom: 14px;
}

/* #item .item .offers {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
} */

#item .item .specs-summary p  { 
    line-height: 1.8
}  

#item .breadcrumb {
    margin-left: 35px;
}

#item .section-header {
    font-weight: 600;
    color:#fa0114;
    font-size: 24px;
    line-height: 1.2;
    /* margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px; */
}

#item #myoffer {
    display: none;
}
#item .tabcontent {
       border: none;
       height: auto;
}

/* #item .item .userprefs { 
    justify-content: flex-start;

} */


#item #offer {
    width: 100%;
}

#item .section  {
    
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    margin-top: 35px;
    padding-bottom: 10px;
}

#item .section > a { 
    display: flex;
}

#item .section svg {
    width: 30px;
    margin-right: 6px;
    color:#fa0114;
    display: block;
}

#item .item main {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    /* justify-content: space-between; */
}

#item .item .item-nav-wrapper { 
    height: 100%; 
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
}


#item .item .item-nav-sizer {
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
    /* margin-bottom: 37px;
    margin-top: 14px; */
    width: 100%;
    border-top: 2px solid #ccc;
    padding-top: 10px;
}
 
#item .item .item-nav {
    /* display: flex;
    justify-content: center;
    white-space: nowrap;
    flex-wrap: wrap; */
    display: flex;
    /* grid-template-columns: 1fr ; */
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

#item .item .item-nav-item {
    font-size: 18px;
    padding: 0 12px 0 0;
}

#item .item .nav-link {
     /* color: #fa0114;  */
    text-decoration: none;
    font-weight: 600;
} 
#item .item .userprefs {
    padding-bottom: 10px;
}

#item .item .specs-wrapper {
        justify-content: center;
        margin-bottom: 20px;
}

