/************************ 
media queries
*************************/

@media (min-width: 199px) {

	.header-logo h3 {
		display: none;
	}

	.header-title {
		font-size: 16px;
	}

}

@media (min-width: 360px) {

	.header-logo h3 {
		display: block;
		color: white;
		letter-spacing: 1px;
		margin-left: 0.4rem;
		
	}

	.lead-title {
		font-size: 2em;
	}
	

}

@media (min-width: 499px) {
	

	.ais-Breadcrumb-item {
		display: inline; 
	  }

	.offer-total-row {
		flex-direction: row;
		margin-bottom: 0;
	}

	.modal-container .fullsize {
		max-width: 85%;
	}

	.offer .qty-msg {
		text-align: left;
	}

	.offer .price-msg {
		text-align: left;
	}

	.instruction {
		font-size: 18px;
	}

	
	.icon-title {
		width: 4rem;
		height: 4rem;
	}

	.ais-Hits-list {
		display: grid;
	}

	.flex {
		display: flex;
	}

	.hidden {
		display: none;
	}

		
	.deal-bubble {
		width: 80%;
	}

}

@media (min-width: 640px) {

		
	.main {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.container {
		 max-width: 600px; 
	}
	
	.footer-container {
		display: flex;
		justify-content: space-around;
		align-items: center;
		text-align: unset;

	}

	
	.item .specs-summary {
		margin: 0;
		width: auto;

	}

	.item aside {
		margin-right: 1rem;
		margin-bottom: 1rem;
	}

	.item .userprefs {
		justify-content: flex-end;
	}

	.tabs {
		min-width: 29rem;
	}

	.tabs ul {
		flex-direction: row;
	}

	
	.tabs .activeBtn {
		border-bottom-width: 0px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}

	.tabs .activeTab {
		margin-bottom: -1px;
	}

	.tabs .inActiveTab {
		margin-bottom: -0.25rem;
	}

	.verttabs {
		flex-direction: row;

	}

	.verttabs>ul li {
		text-align: left;
	}

	.megamenu {
		display: grid;
	}

	.categoryheader {
		display: none;
	}

	.megamenu-sidepanel {
		display: none;
	}

	#item .item .specs-wrapper {
		justify-content: flex-start;
		margin-bottom: 0;
	}

	.header-logo img, .footer-container img {
		max-width: 5rem;
	} 

	.header-logo h3 {
		display: none;
	}

	.progress .name { 
		font-size: 1.4rem;
	}	

	.deal-section {
		display: flex;
	  } 

     .deal-offer-header {
		margin-bottom: 0;
		display: block;
	  } 

	  .deal-item-details{
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		text-align: left;
	
	  }

	  .deal-item-details .specs-wrapper {
		display: block;
	  }

	  .deal-section .content img {
		margin-bottom: 0;
	}

	.deal-bubble {
		width: 67%;
	}

}

@media (min-width: 700px) {

	.container {
		max-width: 660px;
	}

	.main {
		margin: 0 auto;
	}

	.search-results {
		flex-direction: row;
		width: auto;
		transform: none;
		position: static;
		height: auto;
		overflow-y: initial;

	}

	.footer-links {
		display: flex;
		text-align: left;
		justify-content: center;
	}

	.footer-links li {
		margin-left: 0.5rem;
		margin-right: 0.5rem;
		display: inline;
	}

	.filterbar {
		display: none;
	}

	.breadcrumb {
		margin-top: .75rem;
		margin-bottom: 0;
	}	
	.search-panel {
		flex: 1;
		/* display: flex; */
		position: relative;
	}

	.left-panel {
		/* fixed width of the columns */
		flex: 0 0 18em;
		display: block;
		padding: 0 1rem 0 0;
		border: none;
		box-shadow: none;
		border-radius: 0;
		margin-bottom: 0;
		background-color: transparent;
		overflow-y: initial;
		margin-top: 2.1rem;

		margin-right: .5rem;
	}

	.refinement-container {
		overflow-y: initial;
		height: auto;
		padding-right: 0;
	}

	.ais-Hits-list {
		grid-gap: 40px;
	}

	#searchbox {
		max-width: 640px;
		box-shadow: 0 0 #0000, 0 0 #0000, 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
	}

	.togglebc-closed-pos {
		top: 12px;
	}

	.carousel-slide {
		width: 24rem;
		/* height: 24rem; */
	}

	.carousel-slider {
		width: 24rem;
	}

	.dashboard {
		justify-content: flex-end;
	}

	#statsfilter {
		display: none;
	}

	.main.blur-bg {
		background-color: initial;
	}

	.search-results.filtermode {
		width: initial;
		transform: none;
		position: static;
		overflow-y: initial;
	}


	.left-panel .dash {
		margin-bottom: 0;
		/* justify-content: flex-end; */
		border-top: 1px solid #e5e7eb;
		padding: .5rem 0 .5rem 0;

	}

	.left-panel .dash button {
		border-color: transparent;
		font-size: .9rem;
	}

	#item article.item {
		flex-direction: row;
	}

	/* register form */
	#registerfrm > div {
		flex-direction: row;
	}

}

@media (min-width: 717px) {
	.header-nav {
		display: none;
	}

	.header-links {
		display: flex;
		align-items: flex-end;
		flex-direction: row;
	} 

	/* .general-page section {
		display: flex;

	} */
}

@media (min-width: 732px) {

	#item .item .item-nav {
		grid-template-columns: 1fr 1fr;
	}

	.header-logo h3 {
		font-size:1.3rem;
		display: block;
	}

	
	.deal-bubble {
		width: 56%;
	}

}


@media (min-width: 1001px) {
	.item .detail {
		text-align: left;
		align-items: flex-start;
	}
}

@media (min-width: 915px) {
	.header-container-abbr {
		display: flex;
		justify-content: space-between;
		align-items: center;

	}

	#searchbox.searchbox-abbr {
		display: block
	}

	#item .item .item-nav {
		display: flex;

	}

}

@media (min-width: 1024px) {
	.container {
		max-width: 984px;
	}


	article.item {
		flex-direction: row;
	}


	#updateaddressfrm > div {
		flex-direction: row;
		gap: 3em;
	}

	.progress .name { 
		font-size: 1.6rem;
	}	
}

@media (min-width: 1280px) {
	
	.container {
		max-width: 1240px;
	}

	#myprofile .container {
		max-width: 984px;
	}

}

@media (min-width: 1536px) {

	.modal-container .fullsize {
		max-width: 1260px;
	} 
}