
/*****************
facet placeholders
******************/


#algolia {
	overflow: hidden;
	visibility: hidden;
	opacity: 0;
}

#algolia.is-visible {
	visibility: visible;
	opacity: 1;
    transition: opacity 1.75s ease;
  }
  #algolia.transitioning {
	visibility: visible;
 }


#categories {
	margin-bottom: 2rem;
}

#mfr {
	/* margin-top:  2rem; */
	margin-bottom: 2rem;
  
   }
  
#searchbox {
	/* width: 26vw; */
	width: 90%;
	/* when  search box is on same row as links and logo */
	/* min-width: 250px; */
	max-width: 800px;
    
	box-shadow: 0 0 #0000, 0 0 #0000, 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  
  /* #searchbox.searchbox-abbr {
	width: 40vw;
  }
   */
  #stats, #statsfilter {
	font-weight: bold;
	font-style: italic;
	margin-right: 1rem;
  }
  
  /* #sort-by {
	margin-right: 1rem;
  } */
   
  #refinements.highlight {
    background-color: var(--color-primary-compl1);
	}

  #clear-refinements {
	/* margin-right:2rem; */
	display: flex;
    justify-content: flex-end; 
	
  } 
  
  .refinement-container {
	overflow-y: auto;
    height: 90%;
    padding-right: .5rem;
  }

  #pagination {
	margin: 1.5rem auto;
	/* text-align: center; */
	padding: .6rem;
    overflow-y: auto;
  }
  
  .clear-filters {
	align-items: center;
	display: flex;
	margin-bottom: 0.5rem;
  }
  

  /********************* 
  breadcrumb
*********************/
  
.breadcrumb {
    margin-top: 1.75rem;
  }

  .ais-Breadcrumb {
	/* padding: .5rem 2rem .5rem 2rem; */
	padding: 0 0 0 0;
	/* overflow-y: auto; */
	padding-bottom: .5rem;
  }

  .ais-Breadcrumb-link {
	font-size: 16px;  
	font-weight: 500;
	/* font-size: .9rem;   */
	/* text-decoration: underline !important; */
  }

  .ais-Breadcrumb-link:not(.no-hover):hover {
	text-decoration: underline;
  }

  

  .ais-Breadcrumb-item {
	font-size: 16px;
	/* display: inline; */
  }

  
  .noCrumbs {
	  display: none;
  }

 .bc-container {
	position: relative;
  } 
  
  /* .togglebc {
	position: absolute;
	top: 7px;
	left: 13px;
	bottom: 1px;
	visibility: hidden;
  } */
  
  /* .togglebc-closed-pos {
	top: 8px;
  } */


  
/********************* 
 hit results article
*********************/

 .hit {
	line-height: 18px;
	display: flex;
	flex-direction: column;
	height: 100%;
 }

 .hit,
 .hit .ais-Highlight-nonHighlighted,
 .hit .ais-Highlight {
	font-size: 14px;
	
  
  }
  
  .headline,
  .headline .ais-Highlight-nonHighlighted,
  .headline .ais-Highlight
   {
	font-size: 14px;
  }
  
  /**********
	hit header 
  ************/
  
  
  /* image */
  .hit-image {
	align-items: center;
	display: flex;
	height: 174px; 
	justify-content: center;
	margin: auto;
	/* width: 174px; */
	width: 90%;
	border-bottom: 1px solid var(--color-util-gray-primary);
	padding: .5rem;
  }
  
  .hit-image img {
	height: auto;
	max-height: 100%;
	max-width: 100%;
  }
  
  .hit-svg {
	width: 1rem;
	height: 1rem;
	color: var(--color-util-gray-dark2);
	float: right;

  } 
  
  /*******
     hit main 
   *******/
  .hit main {
	flex-grow: 1; 
	margin-top: .5rem;
  }
  
  
  /* detail */
  .hit-detail {
	overflow-wrap: break-word;
	word-break: break-word;
  }
  
   .category,
   .category .ais-Highlight,
   .category .ais-Highlight-nonHighlighted
   {
	color: var(--color-category);
	font-size: 12px;
	font-weight: 800;
	line-height: 1;
	margin-top: 8px;
	margin-bottom: 8px;
	opacity: 0.9;
	text-transform: uppercase;
  }
  
  .hit-detail .description {
	 margin-top: .5rem;
	 margin-bottom: 1rem;
	 overflow: hidden;
	 max-height: 6.0rem;
	 min-height: 4.0rem;
  }
  
  /*******
   hit footer
   *******/
  .hit footer {
	flex-grow: 0;
	line-height: 19px;
  }
  
  .hit-mfr span {
	font-weight: 600;
  }
  
  .hit-model {
	overflow: hidden; 
	text-overflow: ellipsis;
	white-space: nowrap;
  }
  
  .hit-model span {
	font-weight: 600;
	overflow: hidden; 
	text-overflow: ellipsis;
	white-space: nowrap;
  }
  
  .hit-price {
	letter-spacing: 0.05em;
	font-weight: 600;
	color: var(--color-primary);
  }
  
  .hit-qty {
	letter-spacing: 0.05em;
   
  }
  
  /* footer */
  .hit-footer {
	font-weight: 600;
	display: flex;
	justify-content: space-between;
	/* padding-bottom: 0.5rem; */
	padding-top: 0.5rem;
	flex-wrap: wrap;
	border-top: 1px solid var(--color-util-gray-primary);
	font-size: 0.875rem;
	line-height: 1.25rem;
	margin-top: .5rem;
  }
  
  
   
  /**************************
   algolia theme overrides
   *************************/
  
   .ais-SearchBox-form {
    /* display: block; */
    position: relative;
  }

   .ais-HierarchicalMenu-list, 
   /* .ais-Menu-list, 
   .ais-NumericMenu-list, 
   .ais-RatingMenu-list,  */
   .ais-RefinementList-list {
    font-weight: normal;
    	/* line-height: 1.5; */
	}

	.ais-Breadcrumb-item--selected, 
	.ais-HierarchicalMenu-item--selected
	 /* .ais-Menu-item--selected  */ 
	 {
    	font-weight: bold;
	}

	.ais-HierarchicalMenu-list .ais-HierarchicalMenu-list {
		margin-left: 1em;
	}

   .ais-RefinementList-label {
    display: flex;
    align-items: center;
   }

   .ais-HierarchicalMenu-count, .ais-Menu-count, .ais-RefinementList-count, .ais-ToggleRefinement-count {
    padding: 0.1rem 0.4rem;
    font-size: 0.8rem;
    background-color: var(--color-util-gray-primary);
    border-radius: 8px;
   }

   .ais-RefinementList-checkbox {
	margin-right: .3rem;
	margin-top: .1rem; 

   }

   .ais-RefinementList-labelText, .ais-HierarchicalMenu-label {
	margin-right: .3rem;
   }
   .ais-SearchBox-loadingIndicator, .ais-SearchBox-reset, .ais-SearchBox-submit { 
	 z-index: 0;
	 
   }

   .ais-SearchBox-submit, .ais-SearchBox-reset, .ais-SearchBox-loadingIndicator {
    appearance: initial;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    right: 0.3rem;
    transform: translateY(-50%);
}
  
   .ais-HierarchicalMenu-searchBox > *, .ais-Menu-searchBox > *, .ais-RefinementList-searchBox > * {
    margin-bottom: 0.5rem;
}

.ais-RefinementList-showMore {
    padding: 0.4rem 0.5rem;
    font-size: 0.8rem;
    border-radius: 5px;
    transition: background-color 0.2s ease-out;
    outline: none;
}
  

.ais-Pagination-link {
    padding: 0.3rem 0.6rem;
    display: block;
    border: 1px solid #c4c8d8;
    border-radius: 5px;
    transition: background-color 0.2s ease-out;
}

.ais-RefinementList-showMore, .ais-Pagination-item--selected .ais-Pagination-link {
	background-color: var(--color-primary);
	border-color: var(--color-primary);
	color:var(--color-primary-button-text);
  }
  

  .ais-ClearRefinements-button:focus, .ais-ClearRefinements-button:hover, .ais-CurrentRefinements-reset:focus, .ais-CurrentRefinements-reset:hover, .ais-GeoSearch-redo:focus, .ais-GeoSearch-redo:hover, .ais-GeoSearch-reset:focus, .ais-GeoSearch-reset:hover, .ais-HierarchicalMenu-showMore:focus,  .ais-InfiniteHits-loadMore:focus, .ais-InfiniteHits-loadMore:hover, .ais-InfiniteHits-loadPrevious:focus, .ais-InfiniteHits-loadPrevious:hover, .ais-InfiniteResults-loadMore:focus, .ais-InfiniteResults-loadMore:hover, .ais-Menu-showMore:focus, .ais-Menu-showMore:hover  {
	background-color: transparent;
	opacity: .7;
	cursor: pointer;
  }
  
  .ais-RefinementList-showMore:hover {
	background-color: var(--color-primary);
	opacity: .7;
  }
  .ais-SortBy-select {
	padding: .2rem 2rem .2rem .3rem;
    appearance: none;
    max-width: 100%;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M0 7.3l2.8-2.8 9.2 9.3 9.2-9.3 2.8 2.8-12 12.2z' fill='%233A4570' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: 92% 50%;
	border: 1px solid var(--color-formfield-border);
    border-radius: 5px;

	
  }
  .ais-SortBy-select, .ais-SortBy-option, .ais-Stats-text {
	font-size: .9rem;
  
  }
  .ais-Panel-header {
	color: var(--color-primary);
	font-size: 1rem;
	display: flex;
    align-items: center;
    justify-content: space-between;
	background-color: var(--site-bg);
    padding: .5rem;
    border-radius: 4px;
	border-bottom: none;
	margin-bottom: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;

  }
  

  /* .ais-Panel--collapsible .ais-Panel-collapseButton {
	  position: unset;
  }
   */
  
  .ais-SearchBox-input {
	padding-left: .5rem;
	padding-right: .5rem;
	padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    appearance: none;
    width: 100%;
    position: relative;
    border: 1px solid var(--color-formfield-border);
    border-radius: 5px;
  
  }


  .ais-Panel-collapseButton {
	font-size: 2rem;
	color: var(--color-util-gray-dark2);
  }

  .ais-Panel--collapsible.ais-Panel--collapsed .ais-Panel-body, .ais-Panel--collapsible.ais-Panel--collapsed .ais-Panel-footer {
    display: none; 
  }
  
  /* Hits */
  .ais-Hits-item {
	border: 1px solid var(--color-util-gray-primary);
	box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
	border-radius: 0.5rem;
	width: 100%;
   	margin:0;
	padding: 1rem;
  
  }
  
  .ais-Hits-list {
	
	margin:0;
	/* flex on very small screens; grid does not lay out right */
	/* display: flex; */
	display: grid;
	grid-gap: 20px;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  }
  
 .ais-Hits.ais-Hits--empty {
	 font-size: 18px;
 }

  .ais-HierarchicalMenu-showMore {
  
	margin-top: .5rem;
  }
  
  .ais-HierarchicalMenu-link, .ais-Menu-link, .ais-Pagination-link, .ais-RatingMenu-link {
	color: var(--color-font-primary);
	transition: color 0.2s ease-out;
  }
  

  .ais-Pagination-item--disabled .ais-Pagination-link {
    opacity: 0.6;
    cursor: not-allowed;
    color: var(--color-disabled);
  }

  .ais-Pagination-item + .ais-Pagination-item {
    margin-left: 0.3rem;
}

  .ais-Breadcrumb-link,
  .ais-Breadcrumb-link.no-hover:hover {
	color:var(--color-font-light);
  }

  .ais-Breadcrumb-link:hover, 
  .ais-HierarchicalMenu-link:hover, 
  .ais-Menu-link:hover, 
  
  .ais-RatingMenu-link:hover {
	color: var(--color-link-hover);
  }

  .ais-Pagination-link:hover {
	background-color: var(--color-util-gray-primary);
	color: var(--color-font-primary);
  }

  /* .ais-Breadcrumb-item, */
  .ais-Breadcrumb-list,  .ais-Pagination-list, .ais-RangeInput-form, .ais-RatingMenu-link, .ais-PoweredBy {
    display: flex;
    align-items: center;
	justify-content: center;
}
  .ais-Breadcrumb-separator {
	margin-right: .2rem;
	margin-left: 0;
  }
  
  .ais-Breadcrumb-link {
	margin-right: .3rem;
  }
  
  .ais-Breadcrumb-list {
	/* flex-wrap: nowrap;
	flex-direction: row;
	align-items: flex-start; */
	display: block;
	line-height: 1.35rem;
	/* white-space: nowrap; */
  }
  
  .non-clickable { 
	pointer-events: none; 
	cursor: default; 
  }

  .ais-ClearRefinements-button--disabled {
	  display: none;
  }

  .ais-SearchBox-submit {
     /* left: unset; 
	 right: .6rem; */
    appearance: none; 
    position: absolute;
    /* z-index: 1; */
    width: 20px;
    height: 20px;
    top: 50%;
    right: 0.3rem;
    transform: translateY(-50%);
}

.ais-SearchBox-submitIcon {
    width: 14px;
    height: 14px;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.ais-SearchBox-reset {
    right: 2.0rem;
}

.ais-SearchBox-resetIcon {
    width: 12px;
    height: 12px;
}