/* .myprofile-panel {
    background-color: #fff;
    border-radius: .25rem;
    padding: 1.5rem;
    margin-top: 1.5rem;
} */
/* my address */
/* #nav {
    position: static;
} */
.pac-icon {
    display: none;
}

.pac-item {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.pac-item:hover {
    background-color: #ececec;
}

.pac-item-query {
     font-size: 16px;
}

.input-gray {
    background-color: #F0F2F2;
    color: #333;
}

.location-panel {
    padding: .5rem;
    /* border: 1px solid #dedede;
    border-radius: 4px;
    background-color: whitesmoke;
    margin-bottom: 20px; */
    display: none;
}

.location-panel label {
    margin-bottom: 0;
    padding-left: 0
}

.loc-value {
    font-weight: bold;
    color: #fa0114;
    
}
#myprofilefrm > div {
        gap: 0;
    }

#myprofile  {
    margin-left: .5rem; 
    margin-top: 0.1rem; 
}  

#myprofile .email-status {
    font-weight: bold;
    column-gap: 8px;
    background-color: #e6f4ea;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    color: #666;
    font-size: 14px;
}

/* unlock settings teaser */
.unlock-container {
    max-width: 700px;
    margin: 0 auto; /* Centers horizontally */
}

.unlock-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    /* background-color: #eaeaea;   */
    /* border-radius: 8px; */
    margin-bottom: 30px;
    margin-top: 30px;
    border-left: 3px solid #666; /* Slightly darker border to add emphasis */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  */
  }
  
  .unlock-icon {
     margin-right: 15px;
  }
  
   .unlock-text h1 {
    font-size:  1.5rem;
    margin-bottom: 5px;
    /* color: #333; */
  } *
  
  .unlock-text p {
    /* font-size: 14px; */
    color: #666;
    margin-bottom: 15px;
  }
  
 