/* register */

/* #register-account {
  margin-bottom: 2rem;
  max-width: 1024px;
} */

/* .register .login-title {
  text-align: left;
}

.register .login-title h1 {
  position: relative;
}

.register .login-title h1:before {
  content: " ";
  margin: 0 auto;
  position: absolute;
  transform: rotate(0deg);
  vertical-align: top;
  height: 2px;
  background: #d84029
} */

/* #register-account .login-title h1:before {
  width: 219px;
  bottom: -12px;
} */

/* #register-login .login-title h1:before {
  width: 86px;
  bottom: -12px;
} */

/* .register .login-title h1 {
  font-size: 26px;
} */

/* .register-lead {
  margin-bottom: 2rem;
} */

/* end of register */
