
  /* register */

  .register-wrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
    align-items: center;
	margin-top: 2rem;
  }

   #register-account  {
	margin-bottom: 2rem;
  }
  .register .login-title  {
	  text-align: left;
  }
  .register .login-title h1  {
	  position: relative;
  }
  .register .login-title h1:before  {
	content: " ";
    margin: 0 auto;
    position: absolute;
    transform: rotate(0deg);
    vertical-align: top;
    height: 2px;
    background: #fa0114
  }

  .login-panel {
	min-width: 350px;
  }

  #register-account .login-title h1:before  {
	width: 219px;
    bottom: -12px;
  }
  #register-login .login-title h1:before  {
	width: 86px;
    bottom: -12px;
  }
  
  .register .login-title h1 {
	  font-size: 26px;
  } 
  .register-lead {
	margin-bottom: 2rem;
}

/* end of register */
