html {
  scroll-behavior: smooth;
  height: auto;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: #595e61;
  overflow-y: auto;
}


a:focus-visible,
button:focus-visible,
ul:focus-visible {
  outline: 2px solid #fa0114;
  outline-offset: 2px;
}

svg:focus-visible {
  color: #fa0114;
}


::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #cbd5e0;
  opacity: 1;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #cbd5e0;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea:focus {
  box-shadow: 0 0 0 2px rgb(66 153 225 / 50%);
}

/***************** 
  utility 
*****************/

.flex {
  display: flex;
}

.flex-child{
  flex: 1 0 0%;
  /* width:50%; */
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.flex-direction-column {
  flex-direction: column;
}

 .center-w-flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
} 

/* .center-contain-width {
   margin: 0 auto; 
   max-width:fit-content;
}  */

/* .inline {
  display: inline !important;
} */

.block {
  display: block !important;
}

.hidden {
  display: none;
}

/* margin */
.mb-2 {
  margin-bottom: .5rem;
}
.mt-6 {
  margin-top: 1.5rem;
}
.mb-6 {
  margin-bottom: 1.5rem;
}
.mt-8 {
  margin-top: 2.0rem;
}
.mb-8 {
  margin-bottom: 2.0rem;
}
/* 
.hide {
  opacity: 0;
  height: 0;
}

.full {
  width: 100%
}

.half {
  width: 50%
}

.third {
  width: 33.3%
}


.fourth {
  width: 25%
} */

/* .disabled {
	cursor: not-allowed;
  background-color: #c1c1c1;
  border-color: #c1c1c1;
	
} */

.no-scroll {
  overflow-y: hidden;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.o80 {
  opacity: .80;
}

/* 3 sided box shadow; nothing on top */
.box-shadow {
  box-shadow: 0 0 #0000, 0 0 #0000, 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.box-shadow2 {
  box-shadow: 0 4px 6px 0 rgb(85 85 85 / 9%), 0 1px 20px 0 rgb(0 0 0 / 8%), 0px 1px 11px 0px rgb(0 0 0 / 6%);
}

/* .ofadein {
  transition: opacity ease 1s;
} */

.transform {
  /* transform: translateX(0 0 rotate(0) skewX(0) skewY(0)) scaleX(1) scaleY(1); */
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}


.scale-200 {
  --tw-scale-x: 2;
  --tw-scale-y: 2;
}

.-translate-x-full {
  --tw-translate-x: -100%;
}

.translate-x-full {
  --tw-translate-x: 100%;
}

.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

hr {
  border-top-width: 1px;
}


[x-cloak] {
  display: none !important;
}

.bullet::after{
  content: "\2022";
  margin-left: .2rem;
}

/**********************
 error/success boxes
*********************/
.error {
  color: #b91c1c;
  background-color: #fee2e2;
  border: 1px solid #b91c1c;
  border-radius: .375rem;
  align-items: center;
  padding: .75rem .75rem;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;

}

.error-message-box {
  border: 1px solid #dc3545;
  padding: .5rem;
  border-radius: 6px;
}

.error-message {
  color: #dc3545;
}

.error-message a {
  color: #777;
  text-decoration: underline;
}

.error svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: .5rem;
}

.success-message-box {

  border: 1px solid #2f855a;
  padding: .5rem;
  border-radius: 6px;

}

.success-message {
  color: #2f855a;
}

/* .success-message {
  color: #2f855a;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
  margin-bottom: 1rem;
  border-width: 1px;
  border-radius: .5rem;
  background-color: #f0fff4;
  border: 2px solid #9ae6b4;
  width: 80%;
  margin: 1rem auto;
}

.success-message .flex {
  display: flex;
}

.success-message .font-bold {
  font-weight: 700 !important;
}

.success-message .text-sm {
  font-size: .875rem !important;
}

.success-message svg {
  width: 1.5rem !important;
  color: #38b2ac !important;
  margin-right: 1rem !important;
  height: 1.5rem !important;
} */



.notify-badge {
  width: 18px;
  height: 18px;
  color: #000;
  background-color: gold;
  border-radius: 50%;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  display: flex;
  position: absolute;
  top: -3px;
  right: 18px;

}

.instruction {
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 600px;
}

.lead-title {
  margin-bottom: 1rem;
  font-size: 1.5em;
}

.icon-title {
  width: 4rem;
  height: 4rem;
}

/* buttons was here  */

.processing {
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
}


/***********
 scrollbar
 ***********/

* {
  scrollbar-width: thin;
  scrollbar-color: #f1f1f1 orange;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* border: 4px solid transparent; */
  background-clip: content-box;
  /* THIS IS IMPORTANT */
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: rgb(204 207 218 / 90%);
  border: 1px solid #f1f1f1;
  border-radius: 15px;
  opacity: .7;

}

/* Handle on hover */
/* *::-webkit-scrollbar-thumb:hover {
  opacity: .7;
} */
/* 
*::-webkit-scrollbar-thumb:window-inactive {
  background: #afafaf; 
  
} */

/***************** 
  structure 
******************/

/* a generic container with breakpoints */
.container {
  margin: 0 auto;
  width: 100%;
}

#home {
  /* visibility: hidden; */
  display: none;
}

.dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .5rem;
  /* border-bottom: 1px solid #ebecf3; */
}


.main {
  /* flex: 1 0 auto; */
  /* allow a flex item to grow and shrink as needed, ignoring its initial size: */
  flex: 1 1 0%;
  /* flex-direction: column;
	padding: 0 1rem 1rem 1rem;
	display: flex; */

  margin: 0;
  max-width: 1645px;
  padding: .5rem 1rem 2rem 1rem;
  /* padding: .5rem 2rem 2rem 2rem; */
  width: 100%;

}

.main.blur-bg {
  background-color: rgba(0, 0, 0, 0.4);
}


.search-results {
  display: flex;
  flex-direction: column;
  /* padding: 1rem 1rem 1rem 1rem; */
  width: initial;
  top: 54%;
  left: 50%;
  height: 90%;
  transform: none;
  position: static;
  overflow-y: initial;

}

.search-results.filtermode {
  width: 95%;
  transform: translate(-50%, -50%);
  position: fixed;
  overflow-y: hidden;
}



.left-panel {
  padding: 1rem;
  border: 1px solid #e5e7eb;
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
  border-radius: 0 0 .5rem .5rem;
  margin-bottom: 3rem;
  background-color: white;
  overflow-y: hidden;
}


.left-panel .dash {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.0rem;


}

/* page title header */

.page-title {
  text-align: left;
  margin-bottom: 1.5rem;
  /* text-align: center; */
  font-weight: 700;
  font-size: 1.5rem;
}

.page-title h1 {
  position: relative;
  font-size: 26px;
  display: inline-block;
}

.page-title h1:before {
  content: " ";
  margin: 0 auto;
  position: absolute;
  transform: rotate(0deg);
  vertical-align: top;
  height: 2px;
  background: #fa0114;
  width:100%;
  bottom: -12px;

}

/* a generic panel */

.panel {
  /* display: flex;
  flex-direction: column; */
  border-radius: 0.25rem;
  background-color: rgba(255, 255, 255, 1.0);
  padding: 1.5rem;
}
