
/* vertical tabs */
.verttabs {
    display: flex;
    flex-direction: column;
}


.verttabs > ul {
    min-width: fit-content;
    display: block;
  
}

.verttabs > ul li {
    margin-bottom: 0.5rem;
    text-align: center;
}
 
.verttabs .activeBtn {
    color: var(--color-primary);
}
  

/* tabs */
.tabs  {
   min-width: 1px;
}

.tabs > ul {
    margin-top: 1.5rem;
    flex-wrap: nowrap;
    flex-direction: column;
    display: flex;
  
}

.tabs > ul li {
  margin-bottom: 0.5rem;
  white-space: nowrap;
  text-align: center;
 }


 .tabs > ul li a, .verttabs > ul li a {

    /* background-color: white; */
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 600;
    text-decoration: none;
    outline-offset: 0;
   
}

.verttabs > ul li a {
    border-bottom: 1px solid var(--color-util-gray-primary);
    border-top: 1px solid var(--color-util-gray-primary);
    padding: 1.0rem;
    font-size: 17px;
}  

.tabs > ul li a {
    text-transform: uppercase; 
}

.tabs .activeBtn {
    color: var(--color-primary);
    border: 1px solid  var(--color-form-border);
    border-radius: 0.25rem;
    background-color:var(--color-form-bg)
}

.tabs .inActiveBtn, .verttabs .inActiveBtn  { 
    color: var(--color-util-gray-dark2);
    border: 1px solid  var(--color-form-border);
    border-radius: 0.25rem;
}

.tabs .inActiveBtn:hover, .verttabs .inActiveBtn:hover { 
  /* color: var(--color-disabled); */
  opacity: .8;
}  

.tabcontent {
    padding: 1rem;
    height: 100%;
    min-height: 20rem;
    text-align: left;
    width: 100%;
}

.tabs .tabcontent {
    border-radius: 0.25rem;
    background-color:var(--color-form-bg);
    border: 1px solid var(--color-form-border);
}


.verttabs .tabcontent {
    padding: 1rem 0 1rem 0;
 }

 
.verttabs button {
   width: 100%;
 }

/* 
.tabelement {
    animation: fadeEffect .7s;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  } */